/* Set Missed Alt admin CSS */

#imgalt { max-width: 250px; word-break: break-all; word-wrap: break-word; }
#imgsize, #file_size { max-width: 100px; word-break: break-all; word-wrap: break-word; width: 10%;}

.loaderimage {background: url('../images/loading.gif');width: 32px;height: 32px;display: none;position: absolute;}
.check_missed_alt_button, .add_missed_alt_button {margin: 0 10px!important;}
.imgalt_input {width: auto;min-width: 90%;}